body {
    background: rgb(0, 0, 0);
    background-image: url("https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
    background-size: cover;
    background-position: center;
  }
  header{
    text-align: center;
  }
p{
    
    font-size: 30px;
    color: black;
}
p1{
    font-size: 20px;
    color: black;
}
a{
    font-size: 20px;
}
