body {
  background: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.image1 {
position: relative;
left: 800px;
max-width: 100%;
}
.main-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  h1{
    color: rgb(19, 0, 223);
    font-size: 20px;
  }
  
  p{
    color: #000000;
    position: relative;
    font-size: 30px;
    top: 100px;
    left: 100px;
  }
  p1{
    position: relative;
    left: 100px;
    bottom: 780px;
    font-size: 20px;
    color: #0e0000;
  }
  
  
  .main-nav li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .main-nav li:first-child {
    margin-left: 0;
  }
  
  .main-nav li a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    padding: 10px;
  }
  
  .main-nav li a:hover {
    border-bottom: 2px solid #010000;
  }
  